nav 
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li 
{
    margin: 0 15px;
}

nav ul li a 
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
}

nav ul li a:hover 
{
    color: #f39c12;
}
main 
{
    margin-top: 0px;
    padding: 80px;
    text-align: center;
}

body 
{
 
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
	 flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.container 
{
    width: 100%;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

h1 
{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f39c12;
}

form 
{
    margin: 10px 0;
}

h2 
{
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #f39c12;
}

input 
{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

button 
{
    width: 95%;
    padding: 10px;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

/* Movie Cards */
.movies-container 
{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 15px; 
    margin-top: 20px;
}

.movie-card 
{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: 1px solid #ccc;
    padding: 12px; 
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 200px; 
    margin: 0 auto; 
}

.movie-card:hover 
{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img 
{
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.movie-card p 
{
    font-size: 12px; 
    color: #666;
    margin: 5px 0;
}

.movie-card h2 
{
    margin: 10px 0;
    font-size: 18px; 
}

.movie-card a 
{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px; 
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 12px; 
    background-color:  #f39c12;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.movie-card a:hover 
{
    color: #d35400;
    background-color: #3498db;
}

button:hover 
{
    background-color: #d35400;
}

hr 
{
    margin: 20px 0;
    border: 1px solid #555;
}

/* Pagination */
.pagination 
{
    text-align: center;
    margin-top: 20px;
}

.pagination a 
{
    text-decoration: none;
    color: #f39c12;
    margin: 0 10px;
    font-weight: bold;
}

.pagination a:hover 
{
    color: #d35400;
}

/* Search Form */
.search-form 
{
    text-align: center;
    margin: 20px 0;
}

.search-form input[type="text"],
.search-form select 
{
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.search-form button 
{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover 
{
    background-color: #d35400;
}

main p 
{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #888;
}

.site-footer 
{
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    font-size: 14px; 
    position: fixed; 
    bottom: 0; 
    left: 0;
    z-index: 10; 
}














